process.executor = 'awsbatch'
process.queue = 'arn:aws:batch:us-east-1:889607977438:job-queue/onDemandQueueDB5E2483-d7d8dd42c61d111'
aws {
	region = 'us-east-1'
	batch.cliPath = '/home/ec2-user/condaenv/bin/aws'
    //batch.cliPath = '/usr/local/aws-cli/v2/current/bin/aws'
  //  batch.volumes = ['/usr/local/aws-cli']
  //  batch.volumes = ['/lib']
}
//env {
  //  PATH = '/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/aws-cli/v2/current/bin'
//}
